:root {
  --Black: #2f2827;
  --Darker-Black: #151515;
}

body {
  background-color: var(--Black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.profile-image,
.header-icon {
  border: 0px solid transparent;
  border-radius: 150px;
}

.header-icon {
  width: 40px;
  height: auto;
  margin-right: 5px;
}

.profile-image {
  margin-top: 50px;
  margin-bottom: 50px;
}

.project-buttons,
.link-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 300px;
  margin-bottom: 50px;
  margin-top: 50px;
  gap: 10px;
}

.project-buttons{
  justify-content: flex-start;
}

.header-bar,
.footer-bar {
  background-color: var(--Darker-Black);
  min-height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
}

.header-bar {
  justify-content: space-between;
}

.footer-bar{
  justify-content: center;
  color: white;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

h1 {
  color: white;
  font-size: 48px;
}

.button {
  width: 100%;
  height: 50px;
  background-color: var(--Darker-Black);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
}

ul{
  display: flex;
  gap: 20px;
  margin-left: 25px;
}

a{
  text-decoration: none;
  color: white;

}

